{% extends 'registration/base.html' %}
{% block title %}Login{% endblock %}

{% block content %}
<div class="register-box">
  <div class="card card-outline card-primary">
    <div class="card-header text-center">
      <a href="#" class="h1"><b>KingEdu</b>Store</a>
    </div>
    <div class="card-body">
      <p class="login-box-msg">Đăng kí tài khoản Hệ thống quản lý</p>

      <form action="" method="post">
        {% csrf_token %}
          {% if form.non_field_errors %}
            {% for error in form.non_field_errors %}
                <p class="er">{{error}}</p>
            {% endfor %}
          {% endif %}
        <div class="input-group mb-3">
          <input type="email" name="email" class="form-control" value="" placeholder="Email">
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-envelope"></span>
            </div>
          </div>
          <span class="invalid-feedback"><?php echo $email_err; ?></span>
        </div>

        <div class="input-group mb-3">
          <input type="text" name="username" class="form-control" value="" placeholder="Tài khoản">
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-user"></span>
            </div>
          </div>
          <span class="invalid-feedback"><?php echo $username_err; ?></span>
        </div>

        <div class="input-group mb-3">
          <input type="password" name="password" class="form-control" value="" placeholder="Mật khẩu">
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-lock"></span>
            </div>
          </div>
          <span class="invalid-feedback"><?php echo $password_err; ?></span>
        </div>
        <div class="input-group mb-3">
          <input type="password" name="confirm_password" class="form-control" value="" placeholder="Nhập lại mật khẩu">
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-lock"></span>
            </div>
          </div>
          <span class="invalid-feedback"></span>
        </div>
        <div class="row">
          <div class="col-6">
            <div class="icheck-primary">
              <input type="checkbox" id="agreeTerms" name="terms" value="agree" required>
              <label for="agreeTerms">
               Tôi đồng ý với <a href="http://lib.haui.edu.vn/opac80/ChinhSach.aspx">Điều khoản sử dụng</a>
              </label>
            </div>
          </div>
          <!-- /.col -->
          <div class="col-6">
            <button type="submit" class="btn btn-primary btn-block">Đăng kí</button>
          </div>
          <!-- /.col -->
        </div>
      </form>
        {% if messages %}
            {% for message in messages %}
                <small {% if message.tags %} class="{{message.tags}}" {% endif %}></small>
            {% endfor%}
        {% endif %}
      <div class="mt-3">
        <p>Đã có tài khoản? <a href="{% url 'login' %}"><b>Đăng nhập</b></a>.</p>
      </div>
    <!-- /.form-box -->
  </div><!-- /.card -->
</div>
{% endblock %}


<!-- <form action="" method="post" novalidate>-->
<!--     {% csrf_token %}-->
<!--     {% if form.non_field_errors %}-->
<!--        {% for error in form.non_field_errors %}-->
<!--            <p class="er">{{error}}</p>-->
<!--        {% endfor %}-->
<!--     {% endif %}-->
<!--     {% for fm in form %}-->
<!--        {{fm.label_tag}} {{fm}} {{fm.errors|striptags}} <br><br>-->
<!--     {% endfor %}-->
<!--     <input type="submit" value="Submit">-->
<!-- </form>-->
<!--{% if messages %}-->
<!--    {% for message in messages %}-->
<!--        <small {% if message.tags %} class="{{message.tags}}" {% endif %}></small>-->
<!--    {% endfor%}-->
<!--{% endif %}-->
<!--<a href="{% url 'login' %}">Login</a>-->
