{% extends "users/base.html" %}
{% block title %}KingEdu|Cart{% endblock %}

{% block content %}


<div id="tg-wrapper" class="tg-wrapper tg-haslayout">
        <!--************************************
				Inner Banner Start
		*************************************-->
        <div class="tg-innerbanner tg-haslayout tg-parallax tg-bginnerbanner" data-z-index="-100" data-appear-top-offset="600" data-parallax="scroll" data-image-src="../../media/static/images/bgparallax-07.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="tg-innerbannercontent">
                            <h1>Sách</h1>
                            <ol class="tg-breadcrumb">
                                <li><a href="index.php">Trang chủ</a></li>
                                <li class="tg-active"> <a href="products.php">Giỏ sách</a></li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--************************************
				 End
		*************************************-->

        <!--***********Inner Banner*************************
				Main Start
		*************************************-->
        <main id="tg-main" class="tg-main tg-haslayout">
            <!--************************************
					News Grid Start
			*************************************-->
            <div class="tg-sectionspace tg-haslayout">
                <div class="container">
                    <div class="row">
                        <div id="tg-twocolumns" class="tg-twocolumns">

                            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-3 pull-left">
                                <aside id="tg-sidebar" class="tg-sidebar">

                                    <div class="tg-widget tg-widgetsearch">
                                        <form action="products.php?quanly=timkiem" class="tg-formtheme tg-formsearch " method="GET">
                                            <div class="form-group">

                                                <input type="text" name="search" class="form-group" placeholder="Tìm kiếm sách...">
                                                <button type="submit"><i class="icon-magnifier"></i></button>
                                            </div>
                                        </form>
                                    </div>

                                </aside>
                            </div>

                            <div class="col-xs-12 col-sm-8 col-md-8 col-lg-9 pull-right">

                                <h2> <span>Tất cả sách  </span> </h2>
                                <div>
                                    <form action="" autocomplete="off" method="POST">
                                        <table class="styled-table">
                                            <thead>

                                                <tr>
                                                    <th>STT</th>
                                                    <th>Mã sách</th>
                                                    <th>Tên sách</th>
                                                    <th>Hình ảnh</th>
                                                    <th>Số lượng</th>
                                                    <th>Đơn giá</th>
                                                    <th>Quản lý</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for i in cart_product %}
                                                        <tr class="active-row">
                                                            <td>{{ forloop.counter }} </td>
                                                            <td>{{i.code}}</td>
                                                            <td>{{i.book_name}}</td>
                                                            <td> <img src="../media/{{i.image}}" alt="image description"> </td>
                                                            <td>
                                                                <a class="add-minus" href="themgiosach.php?tru_sl=<?php echo $cart_item['id'] ?>"><i class="fa fa-minus"></i></a>
                                                                <?php echo $cart_item['soluong'] ?>
                                                                <a class="add-minus" href="themgiosach.php?cong_sl=<?php echo $cart_item['id'] ?>"><i class="fa fa-plus"></i></a>
                                                            </td>
                                                            <td><?php echo number_format($cart_item['cost'] * $cart_item['soluong']) ?> VNĐ</td>
                                                            <td><a href="themgiosach.php?xoa=<?php echo $cart_item['id'] ?>">Xóa </a></td>
                                                        </tr>


                                                    <tr>
                                                        <td colspan="7">
                                                            <h5 style="color: red; text-align: left;">Tổng tiền :
                                                                <span style="color:#00A963 ;">
                                                                <?php echo number_format($tong_tien) ?> VND
                                                                </span>
                                                        </h5>
                                                        </td>
                                                    </tr>

                                                    <tr>
                                                        <td colspan="7">
                                                            <h5 style="color: red;">Hiện tại giỏ sách trống</h5>
                                                        </td>
                                                    </tr>
                                                <?php } ?>
                                                <td colspan="7">
                                                    <a class="delete" href="themgiosach.php?xoatatca=1">XÓA TẤT CẢ</a>
                                                </td>
                                            </tbody>
                                        </table>


                                    </form>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <!--************************************
					News Grid End
			*************************************-->
        </main>
        <!--************************************
				Main End
		*************************************-->
    </div>

{% endblock %}