{% extends "pages/base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">Thông tin chi tiết sách</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#"></a></li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <section class="content">
        <div class="container row">
            {% if data %}
            <div class="col-3 my-3 p-3">
<!--                <img class="rounded-circle account-img" src="{{ data.image }}"/>-->
                <img src="../{{ data.image}}" width="250px" alt="">
            </div>
            <div class="col-9">
                <table class="table table-bordered mt-3 .bg-light" id="myTable">
            <tr>
                <th>Mã sách</th>
                <td>{{data.id}}</td>
            </tr>
            <tr>
                <th>Tên sách</th>
                <td>{{data.book_name}}</td>
            </tr>
            <tr>
                <th>Số lượng</th>
                <td>{{data.total_qty}}</td>
            </tr>
            <tr>
                <th>Giá tiền</th>
                <td>{{data.unit_price}}</td>
            </tr>
            <tr>
                <th>Tác giả</th>
                <td>{{data.author}}</td>
            </tr>
            <tr>
                <th>Thể loại</th>
                <td>{{data.category}}</td>
            </tr>
            <tr>
                <th>Năm xuất bản</th>
                <td>{{data.published_year}}</td>
            </tr>
            <tr>
                <th>Nhà xuất bản</th>
                <td>{{data.publisher}}</td>
            </tr>
            <tr>
                <th>Mô tả</th>
                <td>{{data.description}}</td>
            </tr>
            </tbody>
        </table>
            </div>

            {% else %}
                <h4 class="text-center alert alert-warning">Không có dữ liệu</h4>
            {% endif %}

        </div>

    </section>

</div>

{% endblock content %}
